* {
    padding: 0;
    font-family: 'Fira sans', sans-serif;

}

:root{
    --primary: #38ff74;
    --light: #ffffff;
    --dark: #212121;
}

body{
    padding-top: 175px;
}

.container{
    max-width: 1280;

    display: flex;
    align-items: center;
    justify-content: space-between;

}


nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 5px 30px;
    border-bottom: 3px solid var(--primary);

}

h1{
    color: #ffffff;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.hamburger{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

}

.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--primary);
}

.hamburger.is-active span:nth-child(2){
    opacity: 0;


}
.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);

}
.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);

}

.hamburger.is-active:hover span{
    background-color: var(--primary);
}


.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0px -60px;

}

.menu a{
    color: #ffffff;
    margin: 0 15px;
    font-weight: 600;
    text-decoration: none;
    transition: 00.4s;
    padding: 4px 8px;
    border-radius: 99px;

}

.menu a.is-active, .menu a:hover {
    background-color: var(--primary);
}

@media(min-width:816px) {
    .hamburger{
        display: none;
    }
    .menu{
        display: flex;
    }

}

.mobilemenu{
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    z-index: 98;
    padding-top: 6rem ;
    opacity: 0;
    transform: translateY(-100%);
    background-color: var(--dark);
    color: var(--light);
    transition: 0.3s;


}

.mobilemenu.is-open{
    opacity: 0.9;
    transform: translateY(0);
    backdrop-filter: blur(5px);

}

.mobilemenu a{
    display: block;
    padding: 1rem;
    color: var(--light);
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.3s;
}

.mobilemenu a:hover{
    color: var(--primary);
    background-color: var(--light);
}

.callout-container {
    height: 100vh;
    background: url(/images/3.jpeg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding-top: 140px;
    padding-right: 50px;

}



.jumbotron-header {
    background-color: transparent;

}

.quotes-container {
    background-color: lightgreen;

}

.features-container {

    color: white;
}

.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}

body {
    background: #654ea3;
    background: linear-gradient(to right, #43e9a7, #5e954e);

    width: 100vw;


}

.hashtag {
    font-size: 13px;
    text-decoration: none;
}

.card {
    background-color: aliceblue;
    border-radius: 25px;
}

.card-login{
    background-color: none;
}

.login-button{
    background: var(--dark);
    color: var(--primary);
    border-style: outset;
    border-color: var(--light);
    height: 50px;
    width: 100px;
    font: bold15px arial,sans-serif;
    text-shadow: none;
    border-radius: 50px;

}




.caption {
    padding: 20px;
}


.white-text {
    color: white;
}

.full-width {
    width: 100%;
}

.img-pb {
    padding-bottom: 30px;
}

.post-block {
    padding-bottom: 30px;

}

.blog-img-size {
    height: 50%;
    width: 50%;
}


