{% extends 'base.html'%}
{% load static %}
{% block content%}

<body>
    <div class="frm">
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <h3 class="title is-3">Edit Profile</h3>

            <div class="form-group col-md-12 center" required>
                <label for="inputPicture">Picture</label>
                {{ form.picture }}
            </div>
            <div class="form-group col-md-12" required>
                <label for="inputPassword4">First Name</label>
                {{ form.first_name}}
            </div>
        </div>
        <div class="form-group col-md-12" required>
            <label for="inputAddress">Last Name</label>
            {{ form.last_name }}
        </div>
        <div class="form-group col-md-12">
            <label for="inputAddress">Location</label>
            {{ form.location }}
        </div>
        <div class="form-group col-md-12">
            <label for="inputAddress" required>Profile info</label>
            {{ form.profile_info }}
        </div>
        <div class="form-group col-md-12">
            <label for="inputAddress">Website</label>
            {{ form.url }}
        </div>

        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
    </div>


</body>

</html>
{% endblock content %}


