{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!--post-->
  {% if user.is_authenticated %}
  {% for post in post_items %}
  <div class="card responsive" style="width: 70%; height: 45%;">
    <a href="{% url 'post-detail' post.id %}"><img class="img-responsive"
        style="border-radius: 25px; width: 100%; height: auto;" src="{{ post.picture.url }}" alt="Card image cap"></a>
    <div class="card-body">
      <a href="{% url 'profile' post.user %}">
        <h5 class="card-title">@{{ post.user.username }} </h5>
      </a>
      <a href="{% url 'post-detail' post.id %}">View Post/Comments</a>
      <p class="card-text">{{ post.caption }}</p>
    </div>
    <a href="{% url 'like' post.id %}"><span>{{ post.likes}} Likes</span></a>
    <p class="hashtag">{% for tag in post.tag.all %}<a href="{{tag.get_absolute_url}}">#{{ tag }} </a>{% endfor %}</p>

    <div class="card-body">
      <a href="{% url 'favourite-post' post.id %}" class="card-link">Add To Favourites</a>
      <a href="#" class="card-link">Post details</a>
    </div>
  </div>
  {% endfor %}
  {% else %}

     <!--features-->
  <div class="container-fluid features-container">
    <section clas="features">
      <div class="row">
        <div class="col-12 my-5 text-center">
          <h2>Features:</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mt-3">
          <div class="feature text-center">
            <span class="material-symbols-outlined">
              login
            </span>
            <h3>Create your account!</h3>
            <p>create your account and edit your profile</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-3">
          <div class="feature  text-center">
            <span class="material-symbols-outlined">
              add_reaction
            </span>
            <h3>Find Friends</h3>
            <p>Find your friends and Guess where they are based on the images they post.</p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-3">
          <div class="feature text-center">
            <span class="material-symbols-outlined">
              &#xE87D
            </span>
            <h3>Create posts</h3>
            <p>Upload photos of where you are and see if any friends or other users can Guess </p>
          </div>
        </div>
      </div>
    </section>
    <!--features-->


  {% endif %}
  <!--post-->
  <!--callout-->




    </section>
  </div>
  </div>

  {% endblock content %}