{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="d-flex">
    <a href="{% url 'SearchBar' %}" class="btn btn-success list-inline mx-auto justify-content-center">search</a>
    </div>
<div class="d-flex">
    <h2 class="list-inline mx-auto justify-content-center">
          List of users
    </h2>
</div>
<div class="d-flex">
    <h3 class="list-inline mx-auto justify-content-center">
          find your friends and search for their profiles
    </h3>
</div>
{% for result in displayusername %}
<div class="d-flex">
<ul class="list-inline mx-auto justify-content-center">
      <li>{{result.username}}</li>
  </ul>
</div>

{% endfor %}
{% endblock content%}