{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>#{{ tag.title }}</h1>
<div class="container mt-3">
    <div class="row">
        <div class="col-12">

        </div>
    </div>
</div>
</div>
{% for post in posts %}
<div class="card" style="width: 18rem;">
    <a href="{{ post.get_absolute_url }}"><img class="card-img-top"
            style="border-radius: 25px; width: 100%; height: auto;" src="{{ post.picture.url }}" alt="post picture"></a>
    <div class="card-body">
    </div>
    <span class="post__date-time">{{post.posted|date:"d M,Y"}}</span>
</div>
{% endfor %}
<br>
{% endblock content%}